<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ByteBite"
			 connectionString="Server=localhost;Database=food_orderingsystem;Uid=root;Pwd=yajidev;
			 Integrated Security=True;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>